@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* html {
	overflow-x: hidden;
} */

/* * {
	outline: 1px solid ;
} */

/* html,
body {
	overflow-x: hidden;
} */

body {
	overflow-x: hidden;
}

* {
	outline: 1px solid green !important;
}

:root {
	--font-main: "Roboto", sans-serif;
	--font-second: "Roboto Flex";
	--font-third: "Montserrat", sans-serif;
	--color-blue-main: #2f406b;
	--color-text-white: #f5f5f5;
	--color-text-black: #000;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.disabled-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}
